.card {
box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    flex: 1;
    border-radius: 5px 5px 0 0 ;
  }

  .card-body {
    padding: 1rem;
    line-height: 1.3;

    .card-title {
      font-size: var(--fs-md);
      font-weight: var(--fw-normal);
      
    }

    p {
      font-size: var(--fs-sm);
      
    }
  }
}
